@mixin section-container($width, $height, $bg-color) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  padding: 26px 32px 32px 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  @content;
}

@mixin section-image($bc: null, $img-url) {
  background-image: url($img-url);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  float: left;
  margin-right: 17px;
  height: 30px;
  width: 30px;
  border-radius: 28px;
  border: 2px solid $bc;
  @content;
}

@mixin section-name() {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
}

@mixin section-verified-status() {
  margin-top: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.5;
  line-height: 1.1rem;
}

@mixin section-opinion() {
  margin-top: 18px;
  font-size: 2rem;
  font-weight: 600;
  clear: left;
}

@mixin section-story() {
  margin-top: 16px;
  color: #cfcfcf;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  opacity: 0.7;
}

@mixin get-section-container-by-name($name) {
  @if ($name == "d") {
    @include section-container(
      $width: 540px,
      $height: 282px,
      $bg-color: #733fc8
    );
  } @else if($name == "jw") {
    @include section-container(
      $width: 255px,
      $height: 282px,
      $bg-color: #48556a
    );
  } @else if($name == "jh") {
    @include section-container(
      $width: 255px,
      $height: 266px,
      $bg-color: #ffffff
    ) {
      color: #48556a;
    }
  } @else if($name == "p") {
    @include section-container(
      $width: 540px,
      $height: 266px,
      $bg-color: #19202d
    );
  } @else if($name == "k") {
    @include section-container(
      $width: 255px,
      $height: 572px,
      $bg-color: #ffffff
    ) {
      color: #48556a;
    }
  }
}

@mixin get-section-image-by-name($name) {
  @if ($name == "d") {
    @include section-image($border-color, "../images/image-daniel.jpg");
  } @else if($name == "jw") {
    @include section-image($img-url: "../images/image-jonathan.jpg");
  } @else if($name == "jh") {
    @include section-image($img-url: "../images/image-jeanette.jpg");
  } @else if($name == "p") {
    @include section-image(
      $border-color,
      $img-url: "../images/image-patrick.jpg"
    );
  } @else if($name == "k") {
    @include section-image($img-url: "../images/image-kira.jpg");
  }
}

@mixin get-section-container-mobile-by-name($name) {
  @if ($name == "d") {
    @include section-container(
      $width: 327px,
      $height: 444px,
      $bg-color: #733fc8
    );
  } @else if($name == "jw") {
    @include section-container(
      $width: 327px,
      $height: 240px,
      $bg-color: #48556a
    );
  } @else if($name == "jh") {
    @include section-container(
      $width: 327px,
      $height: 222px,
      $bg-color: #ffffff
    ) {
      color: #48556a;
    }
  } @else if($name == "p") {
    @include section-container(
      $width: 327px,
      $height: 384px,
      $bg-color: #19202d
    );
  } @else if($name == "k") {
    @include section-container(
      $width: 327px,
      $height: 438px,
      $bg-color: #ffffff
    ) {
      color: #48556a;
    }
  }
}
